body {
  background-color: green;
  display: flex;
  height: 100%;
  width: 100%;
}

.card-container {
  background-color: white;
  height: 615px;
  width: 450px;
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 2px 5px 12px black;
}

#topSuit {
  display: flex;
  top: 0;
  left: 0;
  margin-left: 27px;
  margin-top: 11px;
  font-size: 110px;
}

.generated-number {
  display: inline-block;
  text-align: center;
  font-size: 130px;
  margin-left: 177px;
  margin-top: 90px;
}

#bottomSuit {
  display: flex;
  bottom: 0;
  right: 0;
  font-size: 110px;
  margin-left: 355px;
  margin-top: 70px;
}

.cardButton {
  width: 50%;
  height: 55px;
  font-size: 25px;
  border: 1px solid black;
  position: absolute;
  bottom: 85px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  justify-content: center;
}
